@page
@model WebApplication1.Pages.Categories.EditModel@{
}

<form method="post">
    <input hidden asp-for="taskControl.id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3"> Editar Tarefa</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="taskControl.Name"></label>
            <input asp-for="taskControl.Name" class="form-control" />
            <span asp-validation-for="taskControl.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="taskControl.Description"></label>
            <input asp-for="taskControl.Description" class="form-control" />
            <span asp-validation-for="taskControl.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="taskControl.DisplayOrder"></label>
            <input asp-for="taskControl.DisplayOrder" class="form-control" />
            <span asp-validation-for="taskControl.DisplayOrder" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="taskControl.Status"></label>
            <input asp-for="taskControl.Status" class="form-control" />
            <span asp-validation-for="taskControl.Status" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Atualizar</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Voltar</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}