@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-3">Sistema de Tarefas SKA</h1>
    <br />
    <img src="~/res/SKA.jpg" class="ska-logo">
    <br />
    <p>Uma aplicação criada por Bruno Luciano Lira Masullo.</p>
    <a class="btn btn-primary" asp-page="/Categories/Index">Vamos Começar?</a>

</div>
